/* Gradients
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
/* Bordered
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
/* Rounded
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
/* Opacity
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
/* Transition
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
/* Shawows
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
/* Columns
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
/* Fonts
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
/* Spacing
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
/* Other
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
/* Grid System 12 Columns
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11 {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.col-1 {
  width: 8.333333333333332%;
}
.col-2 {
  width: 16.666666666666664%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33333333333333%;
}
.col-5 {
  width: 41.66666666666667%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.333333333333336%;
}
.col-8 {
  width: 66.66666666666666%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33333333333334%;
}
.col-11 {
  width: 91.66666666666666%;
}
.col-12 {
  width: 100%;
}
@media (max-width: 1650px) {
  .template-home-5-hot-deals .grid-item .twitter-block .twit-next {
    bottom: 10%;
  }
  .template-home-4-hot-deals article .inner-box .text .special-offer {
    margin-bottom: 10px;
  }
}
@media (max-width: 1370px) {
  .template-home-5-hot-deals .grid-item {
    width: 25%;
  }
  .template-home-5-hot-deals .grid-item.big {
    width: 50%;
  }
  .template-home-4-slider {
    margin-top: 0;
  }
  .template-home-4-hot-deals article {
    width: 33.3%;
  }
  .template-home-4-hot-deals article .inner-box:hover {
    position: relative;
    width: 100%;
    margin-left: 0;
    margin-top: 0;
  }
}
@media (max-width: 1280px) {
  .template-home-1-hot-deals {
    width: 90%;
  }
  .slider .flex-direction-nav li a {
    width: 5%;
  }
}
@media (max-width: 1024px) {
  .pop-up .content-wrapper {
    width: 100%;
    left: 0;
    margin-left: 0;
  }
  .pop-up .content-wrapper .item iframe,
  .pop-up .content-wrapper .item embed {
    width: 100%;
  }
  .wrapper,
  .container {
    width: 100%;
    padding: 0 2%;
    box-sizing: border-box;
  }
  .team-archive-posts {
    padding: 51px 2% 60px 2%;
  }
  .template-about-2-team {
    padding: 78px 2% 89px 2%;
  }
  .template-about-1-partners {
    padding: 81px 2% 40px 2%;
  }
  .template-about-partners {
    padding: 49px 2% 45px 2%;
  }
  .template-home-5-hot-deals .grid-item {
    width: 50%;
  }
  .template-home-5-hot-deals .grid-item.big {
    width: 50%;
  }
  .template-home-5-hot-deals .grid-item form .wrapper {
    max-width: 100%;
    padding: 0 6%;
  }
  .template-home-5-hot-deals .grid-item form .wrapper .price-range .rangeSlider .ui-slider-horizontal {
    width: 100%;
  }
  .template-home-5-hot-deals .grid-item form .wrapper .rangeSldier__amount .pricebox {
    width: 100%;
  }
  .template-home-4-weather {
    padding: 70px 2%;
  }
  .template-home-4-info .wrapper .col-8 {
    padding: 10% 0 4% 0;
  }
  .template-home-4-hot-deals article .inner-box:before {
    opacity: 1;
  }
  .template-home-4-hot-deals article .inner-box .text {
    opacity: 1;
  }
  .template-home-3-blog {
    padding: 80px 2% 73px 2%;
  }
  .template-home-3-filter {
    padding: 40px 2%;
  }
  .template-home-3-hot-deals .slider .slides li article .text .left-part {
    width: 100%;
  }
  .template-home-3-hot-deals .slider .slides li article .text .left-part .offer {
    margin-bottom: 10px;
  }
  .template-home-3-hot-deals .slider .slides li article .text .left-part h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .template-home-3-hot-deals .slider .slides li article .text .details {
    width: 100%;
    text-align: left;
  }
  .template-home-1-team h2 {
    top: 120px;
  }
  .template-home-1-info article {
    width: 25%;
    margin: 0 3.7%;
  }
}
@media (max-width: 768px) {
  .pop-up .content-wrapper .item iframe,
  .pop-up .content-wrapper .item embed {
    height: 400px;
  }
  .template-contact .c-content {
    width: 47%;
  }
  .template-contact .c-form-w {
    width: 50%;
  }
  .template-contact .c-contact {
    width: 100%;
    margin-top: 4%;
  }
  .tour-archive .items .image .text {
    width: 60%;
  }
  .tour-archive .items .tour-review .slider .tour-item .tour-text {
    margin-top: 0;
  }
  .hotdeals-archive .items .grid-item {
    width: 31.9%;
  }
  .hotdeals-archive .items .grid-item.big {
    width: 66%;
  }
  .template-about-1-info .items article {
    width: 47%;
  }
  .template-about-1-info .items article:nth-child(3n+3) {
    margin-right: 5.3%;
  }
  .template-about-1-info .items article:nth-child(2n+2) {
    margin-right: 0;
  }
  .template-about-1-team .items article {
    width: 49%;
    margin-right: 2%;
    margin-bottom: 4%;
  }
  .template-about-1-team .items article:nth-child(2) {
    margin-right: 0;
  }
  .template-gallery-1 .gallery-items .grid-item {
    width: 32%;
  }
  .gallery-archive .grid-item {
    width: 23.66%;
  }
  .page-content .main-content {
    width: 100%;
  }
  .page-content .sidebar {
    width: 100%;
  }
  .template-nome-5-gallery .items .grid-item {
    width: 32%;
  }
  .template-home-5-tours .titles {
    padding-top: 0;
  }
  .template-home-5-tours .slider {
    padding-top: 0;
  }
  .template-home-5-tours .slider:before {
    top: 60px;
  }
  .template-home-5-tours .image img {
    width: 100%;
    height: auto;
  }
  .template-home-4-info .wrapper .col-8 {
    padding: 10% 4% 4% 0;
  }
  .template-home-4-info .wrapper .col-4 form .price-range .rangeSldier__amount .pricebox {
    margin-left: 0;
  }
  .template-home-4-info .wrapper .col-4 form .price-range .rangeSldier__amount .pricebox .rangeSldier__scale {
    width: 100%;
  }
  .template-home-4-suscribe {
    padding: 70px 2%;
  }
  .template-home-4-tour .slider .slides li article {
    width: 100%;
    box-sizing: border-box;
    padding: 0 2%;
  }
  .template-home-4-tour .slider .flex-direction-nav li a {
    margin-left: 0;
    left: 2%;
  }
  .template-home-4-tour .slider .flex-direction-nav li a.flex-next {
    margin-left: 40px;
  }
  .template-home-4-single-tour .wrapper .article .text h2 {
    font-size: 30px;
    line-height: 30px;
  }
  .template-home-4-info .wrapper .col-8 {
    width: 50%;
  }
  .template-home-4-info .wrapper .col-4 {
    width: 50%;
  }
  .template-home-4-info .wrapper .col-4 form {
    width: 100%;
  }
  .template-home-4-info .wrapper .col-4 form:after {
    display: none;
  }
  .template-home-4-hot-deals article {
    width: 50%;
  }
  .template-home-4-slider .slider .slides li .text {
    top: 20%;
  }
  .template-home-3-desc h2 {
    font-size: 30px;
  }
  .template-home-3-desc h3 {
    font-size: 30px;
  }
  .template-home-3-tours {
    height: 340px;
    padding: 50px 0;
  }
  .template-home-3-tours .slider .slides li article .text h2 {
    font-size: 20px;
  }
  .template-home-3-tours .slider .slides li article .text h3 {
    font-size: 30px;
    line-height: 30px;
  }
  .template-home-3-blog .slider .slides li article .text .title {
    width: 100%;
    margin-bottom: 2%;
  }
  .template-home-3-blog .slider .slides li article .text .string {
    width: 100%;
  }
  .template-home-3-info article {
    width: 60%;
    margin-right: 0;
    margin-bottom: 4%;
    margin-left: 33%;
  }
  .template-home-3-filter form .date {
    width: 49%;
  }
  .template-home-3-filter form .type-rooms {
    width: 49%;
    margin-right: 0;
  }
  .template-home-3-filter form .price-bath-rate {
    width: 49%;
    margin-right: 1.4%;
  }
  .template-home-3-filter form .price-bath-rate .dropdown {
    width: 100%;
  }
  .template-home-3-filter form .button {
    width: 49%;
  }
  .template-home-3-hot-deals .slider {
    width: 100%;
  }
  .template-home-3-hot-deals .slider .flex-direction-nav li a {
    left: 2%;
  }
  .template-home-3-hot-deals .slider .flex-direction-nav li a.flex-next {
    right: 2%;
  }
  .template-home-2-gallery .gallery-items {
    height: auto;
  }
  .template-home-2-gallery .gallery-items a {
    position: initial;
    display: block;
    float: left;
    width: 29.5%;
  }
  .template-home-2-gallery .gallery-items a img {
    width: 100%;
  }
  .template-home-2-gallery .wrapper .title {
    width: 100%;
    text-align: center;
    float: none;
    margin-bottom: 40px;
  }
  .template-home-2-gallery .wrapper .video-icon {
    margin: 0 auto;
    float: none;
    margin-bottom: 40px;
  }
  .template-home-2-gallery .wrapper .text {
    width: 100%;
    float: none;
  }
  .template-home-2-gallery .wrapper .text p {
    text-align: center;
  }
  .template-home-2-blog,
  .template-home-2-hot_deals,
  .template-home-2-rewiews,
  .template-home-2-faq {
    width: 48.5%;
    margin-right: 3%;
    margin-bottom: 3%;
  }
  .template-home-2-blog article .text h2,
  .template-home-2-hot_deals article .text h2,
  .template-home-2-rewiews article .text h2,
  .template-home-2-faq article .text h2 {
    font-size: 18px;
  }
  .template-home-2-blog:nth-child(2n+2),
  .template-home-2-hot_deals:nth-child(2n+2),
  .template-home-2-rewiews:nth-child(2n+2),
  .template-home-2-faq:nth-child(2n+2) {
    margin-right: 0;
  }
  .template-home-1-description h2 {
    font-size: 40px;
  }
  .template-home-1-title h2 {
    font-size: 70px;
  }
  .template-home-1-team h2 {
    margin-left: -46%;
  }
  .template-home-1-hot-deals {
    width: 83%;
  }
  header {
    background: url(images/slider-replacement.jpg);
    background-repeat: no-repeat;
    background-position: center;
  }
  header.wrapper {
    padding: 2%;
  }
  header .col-4 {
    width: 100%;
    text-align: center !important;
    float: none;
    margin: 0 0 20px 0;
  }
  header .col-4 .city-drop {
    left: -38px;
  }
  header .line-bottom {
    padding-left: 0;
  }
  header .line-bottom .menu-icon {
    display: block;
  }
  header .line-bottom nav {
    display: none;
  }
  header .line-bottom nav > ul > li {
    float: none;
  }
  header .line-bottom nav ul {
    width: 100%;
    display: block;
  }
  header .line-bottom nav ul li a {
    color: #7f7f7f;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  header .line-bottom nav ul li ul {
    width: 100%;
    position: relative;
    display: block;
    background-color: #ffffff !important;
  }
  header .line-bottom nav ul li ul li a {
    color: #7f7f7f;
  }
  header .line-bottom .search-box {
    width: 50%;
  }
  header .line-bottom .search-box form {
    width: 100%;
  }
  header .line-bottom .search-box form:hover {
    width: 100%;
  }
  .home-slider-box {
    margin-top: 0;
  }
  .home-slider-box .slider .slides li .text {
    top: 10%;
  }
  .home-slider-box .slider .slides li .text h2 {
    font-size: 40px;
  }
  .search-section .dropdown {
    width: 49.2%;
    margin-bottom: 0.8%;
    display: block;
    float: left;
  }
  .search-section .dropdown:nth-of-type(2n+2) {
    margin-right: 49.39;
  }
  .search-section .dropdown:nth-of-type(3) {
    margin-bottom: 0;
  }
  .search-section .button {
    display: block;
    float: left;
    width: 49.2%;
  }
  .home-hotdeals .tabs .items article {
    width: 31.9%;
  }
  .home-hotdeals .tabs .items article.small:nth-child(4n+3) {
    margin-right: 2.1%;
  }
  .home-hotdeals .tabs .items article.small:nth-child(3n+2) {
    margin-right: 0;
  }
  .home-hotdeals .tabs .items article.big {
    width: 66%;
  }
  .home-review .title {
    margin-left: -126px;
  }
  .home-review .slider .slides li .item {
    width: 100%;
    padding: 0 2%;
    box-sizing: border-box;
  }
  footer .column-f,
  footer .column-t {
    width: 48%;
    margin-rigth: 4%;
    margin-left: 0;
  }
  footer .column-s,
  footer .column-l {
    width: 48%;
    margin-left: 0;
  }
  .bottom .bottom-nav {
    text-align: center;
    width: 100%;
    float: none;
  }
  .bottom .bottom-nav ul li {
    line-height: 40px;
  }
  .bottom .social {
    float: none;
    text-align: center;
  }
}
@media (max-width: 600px) {
  .home-gallery h2 {
    font-size: 60px;
  }
  .home-gallery .slider .flex-direction-nav li a {
    margin-left: -147px;
  }
  .home-gallery .slider .flex-direction-nav li a.flex-next {
    margin-left: 120px;
  }
  .pop-up .content-wrapper .item iframe,
  .pop-up .content-wrapper .item embed {
    height: 300px;
  }
  .woocommerce .cart-collaterals .cross-sells ul.products li,
  .woocommerce-page .cart-collaterals .cross-sells ul.products li {
    width: 100%;
    margin-right: 0;
  }
  .woocommerce div.product div.images,
  .woocommerce-page div.product div.images,
  .woocommerce #content div.product div.images,
  .woocommerce-page #content div.product div.images,
  .woocommerce div.product div.summary,
  .woocommerce-page div.product div.summary,
  .woocommerce #content div.product div.summary,
  .woocommerce-page #content div.product div.summary {
    width: 100%;
  }
  .woocommerce div.product .woocommerce-tabs ul.tabs li,
  .woocommerce-page div.product .woocommerce-tabs ul.tabs li,
  .woocommerce #content div.product .woocommerce-tabs ul.tabs li,
  .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li {
    width: 100%;
  }
  .template-contact .c-content {
    width: 100%;
    margin-right: 0;
  }
  .template-contact .c-form-w {
    width: 100%;
  }
  .team-archive-posts .items article {
    width: 48.5%;
  }
  .tour-archive .items .tour-review .slider .flex-direction-nav li a {
    left: 2%;
  }
  .tour-archive .items .image .text {
    position: relative;
    width: 100%;
    right: 0;
    box-sizing: border-box;
  }
  .single-hot_deals .form form .form-inner input[type="text"],
  .single-hot_deals .form form .form-inner input[type="number"],
  .single-hot_deals .form form .form-inner input[type="email"],
  .single-hot_deals .form form .form-inner .dropdown {
    width: 49%;
    margin-right: 2%;
  }
  .single-hot_deals .form form .form-inner input[type="text"]:nth-child(2n+2),
  .single-hot_deals .form form .form-inner input[type="number"]:nth-child(2n+2),
  .single-hot_deals .form form .form-inner input[type="email"]:nth-child(2n+2),
  .single-hot_deals .form form .form-inner .dropdown:nth-child(2n+2) {
    margin-right: 0;
  }
  .hotdeals-archive .items .grid-item {
    width: 48.8%;
  }
  .hotdeals-archive .items .grid-item.big {
    width: 100%;
  }
  .template-about-2-team .items article {
    width: 100%;
    margin-right: 0;
    margin-bottom: 4%;
  }
  .template-about-1-partners .items a {
    width: 30%;
  }
  .template-about-info .items article {
    width: 45%;
  }
  .template-about-info .items article:nth-child(3n+3) {
    margin-right: 5.3%;
  }
  .template-about-info .items article:nth-child(2n+2) {
    margin-right: 0;
  }
  .about-accordion .col-6 {
    width: 100%;
  }
  .template-about-partners .items a {
    width: 30%;
  }
  .template-gallery-2 .gallery-items .grid-item {
    width: 50%;
  }
  .template-gallery-2 .gallery-items .grid-item.big {
    width: 100%;
  }
  .template-gallery-1 .gallery-items .grid-item {
    width: 49%;
  }
  .gallery-archive .grid-item {
    width: 32.1%;
  }
  .template-nome-5-testimonials .slider .slides li article .text .images a {
    width: 36%;
  }
  .template-nome-5-gallery .items .grid-item {
    width: 49%;
  }
  .template-home-5-tours .wrapper .image {
    width: 100%;
    margin-bottom: 4%;
  }
  .template-home-5-tours .wrapper .image img {
    margin-left: 0;
  }
  .template-home-5-tours .wrapper .titles {
    width: 50%;
  }
  .template-home-5-tours .wrapper .slider {
    width: 50%;
  }
  .template-home-5-hot-deals .grid-item.big {
    width: 100%;
  }
  .template-home-5-hot-deals .grid-item form .wrapper {
    margin-top: 10%;
  }
  .template-home-4-tour .slider .slides li article .text h2 {
    font-size: 20px;
  }
  .header-image-box {
    display: none;
  }
  .template-home-4-single-tour .wrapper .article .text {
    padding: 5%;
  }
  .template-home-4-weather .now-weather {
    width: 100%;
    margin-bottom: 4%;
  }
  .template-home-4-weather .now-weather + div {
    width: 100% !important;
  }
  .template-home-4-info .wrapper .col-8 {
    width: 100%;
  }
  .template-home-4-info .wrapper .col-4 {
    width: 100%;
  }
  .template-home-4-info .wrapper .col-4 .price-range .rangeSldier__scale {
    width: 100%;
  }
  .template-home-4-hot-deals article {
    width: 100%;
  }
  .template-home-4-slider .slider .slides li .text h2 {
    font-size: 30px;
  }
  .template-home-4-slider .slider .slides li .text h3 {
    font-size: 30px;
  }
  .template-home-3-hot-deals .slider .flex-direction-nav li a {
    top: 2%;
    margin-top: 2%;
  }
  .template-home-3-info article {
    margin-left: 28%;
  }
  .template-home-3-tours .slider .slides li article .text {
    padding-top: 20px;
  }
  .template-home-3-tours .slider .slides li article .text h3 {
    font-size: 20px;
    line-height: 25px;
  }
  .price-range .rangeSldier__scale {
    width: 130px;
  }
  .search-home-2 {
    width: 100%;
    box-sizing: border-box;
    padding: 0 2%;
    left: 0;
    margin-left: 0;
  }
  .template-home-2-partners .items a {
    width: 32.4%;
  }
  .template-home-2-info .item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 4%;
  }
  .template-home-2-blog,
  .template-home-2-hot_deals,
  .template-home-2-rewiews,
  .template-home-2-faq {
    width: 100%;
    margin-right: 0;
  }
  .template-home-2-blog article,
  .template-home-2-hot_deals article,
  .template-home-2-rewiews article,
  .template-home-2-faq article {
    width: 100%;
  }
  .template-home-1-description {
    padding: 13.2% 2% 7.7% 2%;
  }
  .header-image-box.home-1 {
    display: none;
  }
  .template-home-1-title h2 {
    font-size: 50px;
    line-height: 70px;
  }
  .template-home-1-team h2 {
    position: relative;
    top: 0;
    left: 2%;
    margin-left: 0;
    text-align: center;
  }
  .template-home-1-team .slider .slides li article {
    padding: 0 16%;
    text-align: center;
  }
  .template-home-1-team .slider .slides li article .image {
    width: 60%;
    margin-right: 0;
    display: inline-block;
    float: none;
  }
  .template-home-1-team .slider .slides li article .text {
    width: 100%;
  }
  .template-home-1-team .slider .slides li article .text .top .social {
    text-align: center;
  }
  .template-home-1-team .slider .slides li article .text p {
    text-align: center;
  }
  .template-home-1-info article {
    width: 100%;
    margin: 0 0 4% 0;
  }
  .template-home-1-description {
    margin-top: 0;
  }
  .template-home-1-hot-deals {
    margin-top: 0;
    width: 70%;
  }
  .template-home-1-hot-deals .slider .slides li article .col-5,
  .template-home-1-hot-deals .slider .slides li article .col-7 {
    width: 100%;
  }
  .home-slider-box .slider .slides li .text h2 {
    font-size: 30px;
  }
  .home-hotdeals .tabs .items article {
    width: 48.8%;
  }
  .home-hotdeals .tabs .items article.big {
    width: 100%;
    margin-right: 0;
  }
  .home-hotdeals .tabs .items article.small:nth-child(2) {
    margin-right: 2.1%;
  }
  .home-hotdeals .tabs .items article.small:nth-child(2n+3) {
    margin-right: 0;
  }
  .home-video .col-6 {
    width: 100%;
  }
  .home-video .col-6:first-of-type {
    margin-bottom: 10%;
  }
  .home-blog .item {
    width: 33.3%;
    margin-bottom: 40px;
  }
  .home-blog .item.twitter {
    clear: both;
    float: none;
    width: 100%;
  }
}
@media (max-width: 480px) {
  .pop-up .content-wrapper .item iframe,
  .pop-up .content-wrapper .item embed {
    height: 250px;
  }
  .woocommerce-cart table.shop_table thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .woocommerce-cart table.shop_table td,
  .woocommerce-cart table.shop_table tr,
  .woocommerce-cart table.shop_table th {
    display: block;
  }
  .woocommerce-cart table.shop_table td:nth-of-type(3):before {
    content: "Product:";
  }
  .woocommerce-cart table.shop_table td:nth-of-type(4):before {
    content: "Price:";
  }
  .woocommerce-cart table.shop_table td:nth-of-type(5):before {
    content: "Quqntity:";
  }
  .woocommerce-cart table.shop_table td:nth-of-type(6):before {
    content: "Total:";
  }
  .woocommerce-cart table.shop_table td:before {
    /* Now like a table header */
    position: relative;
    /* Top/left values mimic padding */
    left: 6px;
    width: 45%;
    white-space: nowrap;
    float: left;
  }
  .woocommerce-cart table.shop_table .actions .coupon {
    width: 100% !important;
  }
  .woocommerce-cart table.shop_table .actions .coupon input,
  .woocommerce-cart table.shop_table .actions .coupon input[type="text"] {
    width: 100% !important;
    max-width: 100% !important;
    margin-bottom: 2% !important;
  }
  .woocommerce-cart table.shop_table .actions > input {
    width: 100%;
    margin-right: 0;
  }
  .woocommerce-cart table.shop_table .quantity {
    margin: 0;
  }
  .woocommerce-cart table.shop_table .product-remove,
  .woocommerce-cart table.shop_table .product-thumbnail {
    text-align: center;
  }
  .woocommerce .col2-set .col-1,
  .woocommerce-page .col2-set .col-1,
  .woocommerce .col2-set .col-2,
  .woocommerce-page .col2-set .col-2 {
    width: 100%;
  }
  .woocommerce ul.products li.product,
  .woocommerce-page ul.products li.product,
  .woocommerce .related ul.products li.product,
  .woocommerce-page .related ul.products li.product,
  .woocommerce .upsells.products ul.products li.product,
  .woocommerce-page .upsells.products ul.products li.product,
  .woocommerce .related ul li.product,
  .woocommerce-page .related ul li.product,
  .woocommerce .upsells.products ul li.product,
  .woocommerce-page .upsells.products ul li.product,
  .woocommerce .cart-collaterals .cross-sells ul.products li,
  .woocommerce-page .cart-collaterals .cross-sells ul.products li {
    width: 100%;
    margin-right: 0;
  }
  .woocommerce .cart-collaterals .cross-sells,
  .woocommerce-page .cart-collaterals .cross-sells,
  .woocommerce .cart-collaterals .cart_totals,
  .woocommerce-page .cart-collaterals .cart_totals {
    width: 100%;
  }
  .team-archive-posts .items article {
    width: 100%;
  }
  .team-archive-top-post article .image {
    width: 70%;
    margin: 0 auto;
    float: none;
  }
  .team-archive-top-post article .text {
    width: 100%;
  }
  .blog-comments .left.input {
    width: 100%;
  }
  .blog-comments .left.textarea {
    width: 100%;
  }
  .blog-comments .u-photo {
    width: 11%;
    margin-right: 2%;
  }
  .blog-comments .com-content {
    width: 86%;
  }
  .tour-archive .items .tour-review .slider .tour-item .tour-image {
    width: 40%;
    margin: 0 auto;
    margin-bottom: 4%;
    float: none;
  }
  .tour-archive .items .tour-review .slider .tour-item .tour-text {
    width: 100%;
    margin-left: 0;
    box-sizing: border-box;
    padding: 2%;
  }
  .single-hot_deals .tabs .tab-nav li {
    width: 100%;
  }
  .single-hot_deals .form form .form-bottom .right {
    float: left;
  }
  .hotdeals-archive .items .grid-item.big .text {
    left: 0;
    padding: 6%;
  }
  .template-about-1-post .image {
    width: 100%;
    margin-bottom: 4%;
  }
  .template-about-1-post .text {
    width: 100%;
    padding-left: 0;
  }
  .template-about-info .items article {
    width: 100%;
    margin-right: 0;
  }
  .template-about-partners .items a {
    width: 49%;
  }
  .gallery-archive .grid-item {
    width: 49%;
  }
  .template-blog-2 .blog-items article .image {
    width: 100%;
    margin-bottom: 4%;
  }
  .template-blog-2 .blog-items article .text {
    width: 100%;
    margin-bottom: 4%;
  }
  .template-blog-1 .blog-items article .text .col-5 {
    width: 100%;
    margin-bottom: 4%;
  }
  .template-blog-1 .blog-items article .text .string {
    width: 100%;
    padding-left: 0;
  }
  .blog-archive .item .text .post-title {
    width: 100%;
    text-align: left;
  }
  .blog-archive .item .text .string {
    width: 100%;
  }
  .template-home-5-tours .wrapper .titles {
    width: 100%;
  }
  .template-home-5-tours .wrapper .slider {
    width: 100%;
    padding-left: 0;
  }
  .template-home-5-hot-deals .grid-item {
    width: 100%;
  }
  .template-home-4-suscribe .form .subscribe-form label {
    width: 100%;
    text-align: center;
    margin-bottom: 2%;
  }
  .template-home-4-suscribe .form .subscribe-form input[type="email"] {
    width: 55%;
    box-sizing: border-box;
  }
  .template-home-4-suscribe .form .subscribe-form .submit {
    width: 45%;
  }
  .template-home-3-testimonials .wrapper .col-7 {
    width: 100%;
    margin-bottom: 4%;
  }
  .template-home-3-testimonials .wrapper .col-7 article {
    padding: 0 15%;
  }
  .template-home-3-testimonials .wrapper .col-5 {
    width: 100%;
  }
  .template-home-3-testimonials .wrapper .col-5 .big-image {
    width: 70%;
    margin: 0 auto;
  }
  .template-home-3-info article {
    margin-left: 21%;
  }
  .template-home-3-tours {
    height: 650px;
  }
  .template-home-3-tours .slider .slides li article .text {
    width: 100%;
    margin-right: 0;
  }
  .template-home-3-tours .slider .slides li article .image {
    width: 100%;
  }
  .template-home-3-tours .slider .flex-direction-nav li a {
    left: 50%;
    margin-left: -14px;
  }
  .price-range .rangeSldier__amount .price-sum {
    width: 100%;
  }
  .price-range .rangeSlider .ui-slider-horizontal {
    width: 100%;
    margin-bottom: 8px;
  }
  .template-home-2-gallery .gallery-items a {
    width: 45%;
  }
  .template-home-2-hot_deals article.half {
    width: 100%;
  }
  .template-home-2-hot_deals article.half .text h2.small {
    text-align: left;
  }
  .template-home-1-description h2 {
    font-size: 30px;
  }
  .template-home-1-team .slider .slides li article .text .top h3 {
    width: 100%;
  }
  .template-home-1-team .slider .slides li article .text .top .social {
    width: 100%;
  }
  .template-home-1-team .slider .slides li article .text .description {
    width: 100%;
  }
  .home-hotdeals .tabs .tab-nav li {
    width: 100%;
  }
  .home-hotdeals .tabs .items article {
    width: 100%;
    margin-right: 0;
  }
  .home-review .slider .slides li .item .col-4 {
    width: 100%;
    padding: 20% 20% 0 20%;
  }
  .home-review .slider .slides li .item .col-4 .shadow {
    display: none;
  }
  .home-review .slider .slides li .item .col-8 {
    width: 100%;
    margin: 0;
  }
  .home-blog .item {
    width: 100%;
  }
  .home-blog .item h3 {
    font-size: 14px;
  }
}
@media (max-width: 400px) {
  .home-hotdeals .tabs .items article.big .text h3,
  .hotdeals-archive .items .grid-item.big .text h3 {
    margin-bottom: 5px;
  }
  .home-hotdeals .tabs .items article.big .text .button-offer,
  .hotdeals-archive .items .grid-item.big .text .button-offer {
    margin-bottom: 15px;
  }
  .single-hot_deals .form form .form-inner input[type="text"],
  .single-hot_deals .form form .form-inner input[type="number"],
  .single-hot_deals .form form .form-inner input[type="email"],
  .single-hot_deals .form form .form-inner .dropdown {
    width: 100%;
    margin-right: 0;
  }
  .hotdeals-archive .items .grid-item {
    width: 100%;
  }
  .template-about-1-info .items article {
    width: 100%;
    margin-right: 0;
    margin-bottom: 4%;
  }
  .template-about-1-partners .items a {
    width: 49%;
  }
  .template-about-1-team .items article {
    width: 100%;
    margin-right: 0;
  }
  .template-gallery-2 .gallery-items .grid-item {
    width: 100%;
  }
  .template-gallery-1 .gallery-items .grid-item {
    width: 100%;
  }
  .gallery-archive .grid-item {
    width: 100%;
  }
  .template-nome-5-gallery .items .grid-item {
    width: 100%;
  }
  .template-nome-5-testimonials .slider .slides li article .image {
    width: 100%;
    margin-bottom: 4%;
  }
  .template-nome-5-testimonials .slider .slides li article .text {
    width: 100%;
  }
  .template-home-4-tour .slider .slides li article .text {
    width: 100%;
    margin-bottom: 4%;
  }
  .template-home-4-tour .slider .slides li article .image {
    width: 100%;
    height: auto;
  }
  .template-home-4-single-tour .wrapper .article .image {
    width: 100%;
  }
  .template-home-4-single-tour .wrapper .article .text {
    width: 100%;
  }
  .template-home-4-slider .slider .slides li .text h2,
  .template-home-4-slider .slider .slides li .text h3 {
    font-size: 14px;
  }
  .template-home-3-blog .slider .slides li article .text .title h3 {
    font-size: 20px;
  }
  .template-home-3-testimonials .wrapper .col-7 article {
    padding: 0 2%;
  }
  .template-home-3-info article {
    margin-left: 0;
    width: 100%;
  }
  .template-home-3-tours {
    height: 510px;
  }
  .template-home-3-filter form .date,
  .template-home-3-filter form .type-rooms,
  .template-home-3-filter form .price-bath-rate,
  .template-home-3-filter form .button {
    width: 100%;
    margin-right: 0;
  }
  .template-home-3-filter form .date .dropdow,
  .template-home-3-filter form .type-rooms .dropdow,
  .template-home-3-filter form .price-bath-rate .dropdow,
  .template-home-3-filter form .button .dropdow,
  .template-home-3-filter form .date .input,
  .template-home-3-filter form .type-rooms .input,
  .template-home-3-filter form .price-bath-rate .input,
  .template-home-3-filter form .button .input {
    margin-bottom: 14px;
  }
  .template-home-3-filter form .date .dropdow:first-of-type,
  .template-home-3-filter form .type-rooms .dropdow:first-of-type,
  .template-home-3-filter form .price-bath-rate .dropdow:first-of-type,
  .template-home-3-filter form .button .dropdow:first-of-type,
  .template-home-3-filter form .date .input:first-of-type,
  .template-home-3-filter form .type-rooms .input:first-of-type,
  .template-home-3-filter form .price-bath-rate .input:first-of-type,
  .template-home-3-filter form .button .input:first-of-type {
    margin-bottom: 14px;
  }
  .template-home-3-hot-deals .slider .flex-direction-nav li a {
    display: none;
  }
  .template-home-2-partners .items a {
    width: 70%;
  }
  .template-home-2-gallery .gallery-items a {
    width: 92%;
  }
  .search-home-2 form input[type="search"],
  .search-home-2 form .form-button {
    width: 50%;
  }
  .template-home-1-title h2 {
    font-size: 30px;
    line-height: 30px;
  }
  .template-home-1-title h2 span {
    font-size: 20px;
  }
  footer .column-s,
  footer .column-l,
  footer .column-f,
  footer .column-t {
    width: 100%;
  }
}
